.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    float: right;
    margin-top: 11px;
    margin-right: 30px;
}
button:hover {
    opacity: 0.9;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    float: left;
}
.amenities {
    height: 100%;
    width: 25%;
    float: left;
    width: 30%;
}
.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-left: 50px;
    margin-top: 11px;
}
.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 50px;
    margin-top: -10px;
}
.popover {
    display: none;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.popover li h2 {
    font-size: 16px;
}
li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.locations .popover li ul li {
    margin-left: -25px;
}
.amenities .popover li {
    margin-left: 10px;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}